Education
======

<dl>
<dt>
  <img src="../images/ufl.png" width="100" height="110" alt="ufl" align="left">
</dt>
<dt>&nbsp;University of Florida</dt>
  <dd>&nbsp;August 2019 - December 2021</dd>
  <dd>&nbsp;M.Sc., Electrical and Computer Engineering (Major)</dd>
</dl>

<dl>
<dt>
  <img src="../images/scut.jpeg" width="100" height="110" alt="scut" align="left">
</dt>
<dt>&nbsp;South China University of Technology</dt>
  <dd>&nbsp;August 2015 - July 2019</dd>
  <dd>&nbsp;B.Eng., Intelligent Science and Technology</dd>
</dl>
