Research Projects
======
<style>
    .zoomable {
      transition: transform 0.2s; /* 动画效果 */
      object-fit: cover; /* 保持图片比例 */
      width: 200px;
      height: 150px;
      margin: 10px;
    }

    .zoomable:hover {
      transform: scale(1.1); /* 放大到原始尺寸的 110% */
    }
</style>
  
Vision-Language Model research
------

  <!-- <div style="text-align: center;">
  <img src="../images/model_arch.png" alt="multiTasker" style="width:250px; height:150px; object-fit:cover; margin:10px;" class="zoomable">
</div> -->
<div style="text-align: center;">
  <img src="../images/design.png" alt="multiTasker" style="width:auto; height:auto; max-width:100%; max-height:300px; object-fit:contain; margin:10px;" class="zoomable">
</div>
<dl>
  <dt style="text-align: left; padding-left: 15px;">Efficient In-context Visual Learning</dt>
  <dd style="text-align: left; padding-left: 10px;">Inspired by the MAE-VQGAN, we have an efficient architectural design: Efficient Painter to finetune a pre-trained Efficient backbone for visual in-context learning. This approach has significantly enhanced our efficient multi-tasking vision generalist model. Our model strikes a balance between speed and accuracy. The improved model now excels SOTA in various low-level tasks, including image denoising, rain removal (deraining) while maintains a relatively high throughput during inference.</dd>
  <dd style="text-align: left; padding-left: 10px;"><a href="#">[Not Open Sourced]</a></dd>
</dl>

Model Compression
------
<!-- <div style="text-align: center;">
  <img src="../images/prunedResult.png" alt="Image 0" style="width:250px; height:150px; object-fit:cover; margin:10px;" class="zoomable">
  <img src="../images/testPrune.jpg" alt="Image 1" style="width: 250px; height: 150px; object-fit: cover; margin: 10px;" class="zoomable">
</div> -->
<div style="display: flex; justify-content: center; align-items: center;">
  <img src="../images/prunedResult.png" alt="Image 0" style="width:250px; height:150px; object-fit:contain; margin:10px;" class="zoomable">
  <img src="../images/testPrune.jpg" alt="Image 1" style="width: 250px; height: 150px; object-fit:contain; margin: 10px;" class="zoomable">
</div>
<dl>
  <dt style="text-align: left; padding-left: 15px;">Deep Learning Model Compression</dt>
  <dd style="text-align: left; padding-left: 10px;">In this paper, we experimented with using two methods for model compression: Pruning and Quantization. By utilizing these methods, we got a remarkable improvement in model simplification while retaining a relatively close accuracy.</dd>
  <dd style="text-align: left; padding-left: 10px;"><a href="https://iopscience.iop.org/article/10.1088/1742-6596/2078/1/012047/meta">[Paper]</a>&nbsp;<a href="https://github.com/WenhaoRichard/ModelCompression">[Code]</a></dd>
</dl>
